# CoolRunner II starter board
NET "BTN0" LOC = "143";
NET "BTN1" LOC = "94";
NET "SW0" LOC = "39" | bufg=data_gate;
NET "SW1" LOC = "124";
NET "LEDS<0>" LOC = "69";
NET "LEDS<1>" LOC = "68";
NET "LEDS<2>" LOC = "66";
NET "LEDS<3>" LOC = "64";
NET "D_AN<0>" LOC = "130";
NET "D_AN<1>" LOC = "129";
NET "D_AN<2>" LOC = "128";
NET "D_AN<3>" LOC = "126";
NET "D_C<0>" LOC = "56";
NET "D_C<1>" LOC = "53";
NET "D_C<2>" LOC = "60";
NET "D_C<3>" LOC = "58";
NET "D_C<4>" LOC = "57";
NET "D_C<5>" LOC = "54";
NET "D_C<6>" LOC = "61";
NET "D_C<7>" LOC = "59";
NET "MCLK" LOC = "38" | data_gate;
NET "USB_WAIT" LOC = "42";
NET "USB_WRITE" LOC = "41";
NET "USB_DSTB" LOC = "40";
NET "USB_ASTB" LOC = "35";
NET "USB_D<0>" LOC = "26";
NET "USB_D<1>" LOC = "25";
NET "USB_D<2>" LOC = "24";
NET "USB_D<3>" LOC = "23";
NET "USB_D<4>" LOC = "22";
NET "USB_D<5>" LOC = "21";
NET "USB_D<6>" LOC = "20";
NET "USB_D<7>" LOC = "19";

NET "CP_D<0>" LOC = "119";	# J3-IO1	braz
NET "CP_D<1>" LOC = "117";	# J3-IO2 	czerwony
NET "CP_D<2>" LOC = "115";	# J3-IO3	pomarańcz
NET "CP_D<3>" LOC = "113";	# J3-IO4	zolty
NET "CP_D<4>" LOC = "118";	# J3-IO7	zielony
NET "CP_D<5>" LOC = "116";	# J3-IO8	niebieski
NET "CP_D<6>" LOC = "114";	# J3-IO9	fioletowy
NET "CP_D<7>" LOC = "112";	# J3-IO10	szary
NET "CP_A<0>" LOC = "142";	# J2-IO1	braz
NET "CP_A<1>" LOC = "139";	# J2-IO2 	czerwony
NET "CP_A<2>" LOC = "136";	# J2-IO3	pomarancz
NET "CP_A<3>" LOC = "134";	# J2-IO4	zolty
#NET "CP_CS" LOC = "106";	# J2-IO7	zielony
NET "CP_IORD" LOC = "138";	# J2-IO8	niebieski
NET "CP_IOWR" LOC = "135";	# J2-IO9	fioletowy

